<nav class="bg-white border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
  <div class="flex flex-wrap justify-between items-center">
    <!-- Logo and name on the left -->
    <div class="flex justify-start items-center">
        <!-- <img src="assets/logo.jpg" class="mr-9 h-12"  />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">RentEazy</span> -->
    </div>

    <!-- Admin email on the right -->
    <div class="flex items-center lg:order-2">
      <span class="text-sm text-gray-900 dark:text-white"></span>
    </div>
  </div>
</nav>
   